repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v3.2.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: 'https://github.com/asottile/seed-isort-config'
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
  - repo: 'https://github.com/pre-commit/mirrors-isort'
    rev: v5.4.2
    hooks:
      - id: isort
  - repo: 'https://github.com/psf/black'
    rev: 23.3.0
    hooks:
      - id: black
  - repo: 'https://github.com/asottile/pyupgrade'
    rev: v2.7.2
    hooks:
      - id: pyupgrade
        args:
          - '--py36-plus'
  - repo: 'https://github.com/asottile/blacken-docs'
    rev: v1.8.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==20.8b1
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
