# Ignore Python build artifacts.

*.egg-info/
*.pyc
*.pyo


# Ignore pyenv files.

.python-version


# Ignore virtualenv environments.

.venv*/


# Ignore settings for various IDEs.

.idea/
.project/
.pydevproject/
.vscode/
nbproject/
*.code-workspace


# Ignore OS metadata files.

.DS_Store
Thumbs.db
